* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: black; 
  text-decoration: none;
}

/*---------- popup -----------*/

#chk_popup {display: none;}
#chk_popup:checked ~ .popup {display: none;}
#chk_popup ~ .popup {display: block;}


.popup_box {
  width: 60%;
  position: absolute;
  top: 35px; left: 20px;
  z-index: 999999;
  background-color: white;
}
.popup {
  width: 100%;
  height: 400px;
  background-color: #eee;
}
.popup img {
  width: 100%;
  height: 400px;
}
.popup_label {overflow: hidden;}
.popup label {
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid #999;
  box-sizing: border-box;
  background-color: white;
  text-align: right;
  float: right;
}


/*---------- header -----------*/


#chk_menu {display: none;}
#chk_menu:checked ~ .lnb_box {display: block;}
#chk_menu ~ .lnb_box {display: none;}

.header {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  font-family: 'Noto Sans KR', sans-serif;
}
.header .gnb {display: flex;}
.header .gnb label {
  display: block;
  width: 9%;
  line-height: 45px;
}
.header .gnb .gnb01 {
  width: 9%;
  line-height: 45px;
  text-align: center;
}
.header .gnb .logo {
  width: 72%;
  line-height: 45px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.header .gnb .gnb02 {
  width: 8%;
  line-height: 45px;
  text-align: center;
}
.header .gnb .gnb03 {
  width: 8%;
  line-height: 45px;
  text-align: center;
  position: relative;
}
.header .gnb .gnb04 {
  width: 35px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 2px;
  font-size: 11px;
  text-align: center;
  background-color: lemonchiffon;
  border-radius: 0 10px 0 10px;
  z-index: 20;
  animation-name: gnb04;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes gnb04 {
  0% {top: 33px;}
  50% {top: 30px;}
  100% {top: 33px;}
}

.header .lnb_box {
  width: 65%;
  background-color: white;
  position: relative;
  z-index: 100;
  
}

.header .lnb_box .sns_box {
  width: 100%;
  display: flex;
  position: relative;
}
.header .lnb_box .sns_box>div {
  width: 25%;
  height: 45px;
  padding-top: 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: black;
}

.header .lnb_box .lnb01 {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: black;
  color: white;
}
.header .lnb_box .lnb01 li:first-child {
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.header .lnb_box .lnb01 li:nth-child(2), .header .lnb_box .lnb01 li:nth-child(3) {
  width: 25%;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

#chk_signature, #chk_top, #chk_bottom, #chk_mans, #chk_acc {display: none;}

#chk_signature:checked ~ .lnb02 .sig_box01 {display: block;}
#chk_signature ~ .lnb02 .sig_box01 {display: none;} 

#chk_top:checked ~ .lnb02 .sig_box02 {display: block;}
#chk_top ~ .lnb02 .sig_box02 {display: none;}

#chk_bottom:checked ~ .lnb02 .sig_box03 {display: block;}
#chk_bottom ~ .lnb02 .sig_box03 {display: none;}

#chk_mans:checked ~ .lnb02 .sig_box04 {display: block;}
#chk_mans ~ .lnb02 .sig_box04 {display: none;}

#chk_acc:checked ~ .lnb02 .sig_box05 {display: block;}
#chk_acc ~ .lnb02 .sig_box05 {display: none;}


.header .lnb_box .lnb02 {
  width: 100%;
}
.header .lnb_box .lnb02>li {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 5px;
}
.header .lnb_box .lnb02>li:first-child {
  margin-top: 10px;
}
.lnb02 .sig_box01{
  width: 90%;
  background-color: lemonchiffon;
  border-radius: 20px;


}
.lnb02 .sig_box01 li{
  margin-top: 3px;
  margin-left: 10px;}
.lnb02 .sig_box02{
  width: 90%;
  background-color: lemonchiffon;
  border-radius: 20px;
}
.lnb02 .sig_box02 li{
  margin-top: 3px;
  margin-left: 10px;}
.lnb02 .sig_box03{
  width: 90%;
  background-color: lemonchiffon;
  border-radius: 20px;
}
.lnb02 .sig_box03 li{
  margin-top: 3px;
  margin-left: 10px;}
.lnb02 .sig_box04{
  width: 90%;
  background-color: lemonchiffon;
  border-radius: 15px;
}
.lnb02 .sig_box04 li{
  margin-top: 3px;
  margin-left: 10px;}
.lnb02 .sig_box05{
  width: 90%;
  background-color: lemonchiffon;
  border-radius: 20px;
}
.lnb02 .sig_box05 li{
  margin-top: 3px;
  margin-left: 10px;}


/*---------- visual_main -----------*/


.visual_main {
  width: 100%;
  height: 250px;
  background-color: #eee;
  position: relative;
  z-index: 10;
}
.visual_main img {
  width: 100%;
  height: 250px;
}


/*---------- banner -----------*/


.banner {
  width: 100%;
  height: 90px;
  margin: 10px 0;
}
.banner img {
  width: 100%;
  height: 90px;
}


/*---------- best -----------*/

#rad01, #rad02, #rad03, #rad04 {display: none;}

#rad01:checked ~ .best_box.best_sheet .sheet01 {display: block;}

#rad01:checked ~ .best_box .best_menu .lab01 {
  display: block;
  background-color: #131140;
  border-radius: 20px 0 0 20px;
  color: white;
}
#rad01:checked ~ .best_box
.best_sheet .sheet02 {display: none;}
#rad01:checked ~ .best_box
.best_sheet .sheet03 {display: none;}
#rad01:checked ~ .best_box
.best_sheet .sheet04 {display: none;}

#rad02:checked ~ .best_box .best_sheet .sheet01 {display: none}
#rad02:checked ~ .best_box
.best_sheet .sheet02 {display: block;}
#rad02:checked ~ .best_box .best_menu .lab02 {
  display: block;
  background-color: #131140;
  border-radius: 20px 0 0 20px;
  color: white;
}
#rad02:checked ~ .best_box
.best_sheet .sheet03 {display: none;}
#rad02:checked ~ .best_box
.best_sheet .sheet04 {display: none;}

#rad03:checked ~ .best_box .best_sheet .sheet01 {display: none;}
#rad03:checked ~ .best_box
.best_sheet .sheet02 {display: none;}
#rad03:checked ~ .best_box
.best_sheet .sheet03 {display: block;}
#rad03:checked ~ .best_box .best_menu .lab03 {
  display: block;
  background-color: #131140;
  border-radius: 20px 0 0 20px;
  color: white;
}
#rad03:checked ~ .best_box
.best_sheet .sheet04 {display: none;}

#rad04:checked ~ .best_box .best_sheet .sheet01 {display: none;}
#rad04:checked ~ .best_box
.best_sheet .sheet02 {display: none;}
#rad04:checked ~ .best_box
.best_sheet .sheet03 {display: none;}
#rad04:checked ~ .best_box
.best_sheet .sheet04 {display: block;}
#rad04:checked ~ .best_box .best_menu .lab04 {
  display: block;
  background-color: #131140;
  border-radius: 20px 0 0 20px;
  color: white;
}


.best_name {
  width: 100%;
  height: 30px;
  margin-top: 40px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}
.best_box {
  width: 100%;
  display: flex;
}
.best_box .best_menu {
  width: 20%;
}

.best_box .best_menu li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: white;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.best_box .best_sheet {
  width: 80%;
  /* height: 300px; */
  overflow-x:scroll;
  background-color: white;
}



.best_sheet .sheet01 {
  width: 700px;
  /* height: 300px; */
 
}
.best_sheet .sheet01>div {
  width: 200px;
  height: 260px;
  margin-top: 25px;
  margin-left: 18px;
  margin-right: 10px;
  float: left;
}  
.sheet01>div>div:first-child {
  height: 200px;
}
.sheet01>div>div:first-child img {
  width: 100%;
  height: 200px;
}

.sheet01 .sheet01_text01>p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.sheet01 .sheet01_text01 .price01{
  display: flex;
}
.sheet01 .sheet01_text01 .price01>p:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.sheet01 .sheet01_text01 .price01>p:last-child {
  color: #666;
}
.sheet01 .sheet01_text01 .event_box {
  width: 100%;
  display: flex;
}
.sheet01 .sheet01_text01 .event_box>div {
  width: 55px;
  height: 15px;
  font-size: 8px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.sheet01 .sheet01_text01 .event_box>div:nth-child(1) {
  border-color: darkred;
  color: darkred;
  margin-right: 3px;
}
.sheet01 .sheet01_text01 .event_box>div:nth-child(2) {
  border-color: gray;
  color: gray;
  margin-right: 3px;
}

.best_sheet .sheet02 {
  width: 700px;
  height: 300px;
}
.best_sheet .sheet02>div {
  width: 200px;
  height: 260px;
  margin-top: 25px;
  margin-left: 18px;
  margin-right: 10px;
  float: left;
}
.sheet02>div>div:first-child {
  height: 200px;
}
.sheet02>div>div:first-child img {
  width: 100%;
  height: 200px;
}
.sheet02>div>div:nth-child(2) {
  width: 100%;
  height: 60px;
  font-size: 11px;

}
.sheet02_text01>p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.sheet02_text01 .price01{
  font-size: 16px;
  display: flex;
}
 .sheet02_text01 .price01>p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.sheet02_text01 .price01>p:last-child {
  color: #666;
}
.sheet02_text01 .event_box {
  width: 100%;
  display: flex;
}
 .sheet02_text01 .event_box>div {
  width: 55px;
  height: 15px;
  font-size: 8px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.sheet02_text01 .event_box>div:nth-child(1) {
  border-color: darkred;
  color: darkred;
  margin-right: 3px;
}
.sheet02_text01 .event_box>div:nth-child(2) {
  border-color: gray;
  color: gray;
  margin-right: 3px;
}


.best_sheet .sheet03{
  width: 700px;
  height: 300px;
  overflow-x:scroll ;
}
.best_sheet .sheet03>div {
  width: 200px;
  height: 260px;
  margin-top: 25px;
  margin-left: 18px;
  margin-right: 10px;
  float: left;
}
.sheet03>div>div:first-child {
  height: 200px;
}
.sheet03>div>div:first-child img {
  width: 100%;
  height: 200px;
}
.sheet03>div>div:nth-child(2) {
  width: 100%;
  height: 60px;
  font-size: 11px;
}
.sheet03_text01>p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.sheet03_text01 .price01{
  font-size: 16px;
  display: flex;
}
 .sheet03_text01 .price01>p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.sheet03_text01 .price01>p:last-child {
  color: #666;
}
.sheet03_text01 .event_box {
  width: 100%;
  display: flex;
}
 .sheet03_text01 .event_box>div {
  width: 55px;
  height: 15px;
  font-size: 8px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.sheet03_text01 .event_box>div:nth-child(1) {
  display: none;
}
.sheet03_text01 .event_box>div:nth-child(2) {
  border-color: darkred;
  color: darkred;
  margin-right: 3px;
}
.sheet03_text01 .event_box>div:nth-child(3) {
  border-color: gray;
  color: gray;
  margin-right: 3px;
}


.best_sheet .sheet04{
  width: 700px;
  height: 300px;
  overflow-x:scroll ;
}
.best_sheet .sheet04>div {
  width: 200px;
  height: 260px;
  margin-top: 25px;
  margin-left: 18px;
  margin-right: 10px;
  float: left;
}
.sheet04>div>div:first-child {
  height: 200px;
}
.sheet04>div>div:first-child img {
  width: 100%;
  height: 200px;
}
.sheet04>div>div:nth-child(2) {
  width: 100%;
  height: 60px;
  font-size: 11px;
}
.sheet04_text01>p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.sheet04_text01 .price01{
  font-size: 16px;
  display: flex;
}
.sheet04_text01 .price01>p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.sheet04_text01 .price01>p:last-child {
  color: #666;
}
.sheet04_text01 .event_box {
  width: 100%;
  display: flex;
}
 .sheet04_text01 .event_box>div {
  width: 55px;
  height: 15px;
  font-size: 8px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.sheet04_text01 .event_box>div:nth-child(1) {
  display: none;
}
.sheet04_text01 .event_box>div:nth-child(2) {
  border-color: darkred;
  color: darkred;
  margin-right: 3px;
}
.sheet04_text01 .event_box>div:nth-child(3) {
  border-color: gray;
  color: gray;
  margin-right: 3px;
}



/*---------- review -----------*/


.review_name {
  width: 100%;
  height: 30px;
  margin-top: 40px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}

.review {
  width: 100%;
}
.review>div {
  width: 100%;
}
.re01 {
  width: 100%;
  display: flex;
}
.re01>div {
  width: 33.333333%;
  height: 150px;
}
.re02 {
  width: 100%;
  display: flex;
}
.re02>div {
  width: 33.333333%;
  height: 150px;
}

#chk_review {display: none;}
#chk_review:checked ~ .review .re02 {
  display: block;
  display: flex;}
#chk_review ~ .review .re02 {display: none;}

.review img {
  width: 100%;
  height: 150px;
}
.review_more {
  width: 30%;
  margin: 5px auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #131140;
  border-radius: 15px;
  color:  white;
  margin-bottom: 40px;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}


/*---------- new -----------*/


.new_name {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
}




  .new {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .new>div {
    width: 50%;
    height: 250px;
  }
  .new>div div:first-child {
    height: 200px;
  }
  .new>div div:first-child img {
    width: 100%;
    height: 200px;
  }
  .new>div div:last-child {
    font-size: 11px;
    height: 50px;
  }
  .new01 .new01_text>p:first-child {
    font-size: 12px;
    font-weight: bold;
  }
  .new01 .new01_text> .price01 {
    display: flex;
  }
  .new01 .new01_text .price01>p:first-child {
    font-weight: bold;
    margin-right: 5px;
  }
  .new01 .new01_text .price01>p:last-child {
    color: #666;
  }
  .new01 .new01_text .event_box {
    width: 100%;
    display: flex;
  }
  .new01 .new01_text .event_box>div {
    width: 55px;
    height: 12px;
    line-height: 10px;
    font-size: 6px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .new01 .new01_text .event_box>div:nth-child(1) {
    border-color: darkred;
    color: darkred;
    line-height: 9px;
    margin-right: 2px;
  }
  .new01 .new01_text .event_box>div:nth-child(2) {
    border-color: gray;
    color: gray;
    margin-right: 2px;
  }
  .new01 .new01_text .event_box>div:nth-child(3) {
    display: none;
  }



  .new02 .new02_text>p:first-child {
    font-size: 12px;
    font-weight: bold;
  }
  .new02 .new02_text> .price01 {
    display: flex;
  }
  .new02 .new02_text .price01>p:first-child {
    font-weight: bold;
    margin-right: 5px;
  }
  .new02 .new02_text .price01>p:last-child {
    color: #666;
  }
  .new02 .new02_text .event_box {
    width: 100%;
    display: flex;
  }
  .new02 .new02_text .event_box>div {
    width: 55px;
    height: 12px;
    line-height: 10px;
    font-size: 6px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .new02 .new02_text .event_box>div:nth-child(1) {
    border-color: darkred;
    color: darkred;
    line-height: 9px;
    margin-right: 2px;
  }
  .new02 .new02_text .event_box>div:nth-child(2) {
    border-color: gray;
    color: gray;
    margin-right: 2px;
  }
  .new02 .new02_text .event_box>div:nth-child(3) {
    display: none;
  }


  .new03 .new03_text>p:first-child {
    font-size: 12px;
    font-weight: bold;
  }
  .new03 .new03_text> .price01 {
    display: flex;
  }
  .new03 .new03_text .price01>p:first-child {
    font-weight: bold;
    margin-right: 5px;
  }
  .new03 .new03_text .price01>p:last-child {
    color: #666;
  }
  .new03 .new03_text .event_box {
    width: 100%;
    height: 12px;
    display: flex;
  }
  .new03 .new03_text .event_box>div {
    width: 55px;
    height: 12px;
    line-height: 10px;
    font-size: 6px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .new03 .new03_text .event_box>div:nth-child(1) {
    border-color: darkred;
    color: darkred;
    line-height: 9px;
    margin-right: 2px;
  }
  .new03 .new03_text .event_box>div:nth-child(2) {
    border-color: gray;
    color: gray;
    margin-right: 2px;
  }
  .new03 .new03_text .event_box>div:nth-child(3) {
    display: none;
  }


  .new04 .new04_text>p:first-child {
    font-size: 12px;
    font-weight: bold;
  }
  .new04 .new04_text> .price01 {
    display: flex;
  }
  .new04 .new04_text .price01>p:first-child {
    font-weight: bold;
    margin-right: 5px;
  }
  .new04 .new04_text .price01>p:last-child {
    color: #666;
  }
  .new04 .new04_text .event_box {
    width: 100%;
    height: 12px;
    display: flex;
  }
  .new04 .new04_text .event_box>div {
    width: 55px;
    height: 12px;
    line-height: 10px;
    font-size: 6px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .new04 .new04_text .event_box>div:nth-child(1) {
    border-color: darkred;
    color: darkred;
    line-height: 9px;
    margin-right: 2px;
  }
  .new04 .new04_text .event_box>div:nth-child(2) {
    border-color: gray;
    color: gray;
    margin-right: 2px;
  }
  .new04 .new04_text .event_box>div:nth-child(3) {
    display: none;
  }


  


  /*---------- signature -----------*/

  #rad_sig01, #rad_sig02, #rad_sig03, #rad_sig04, #rad_sig05 {
    display: none;
  }
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet01 {display: block;}
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet02 {display: none;}
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet03 {display: none;}
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet04 {display: none;}
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet05 {display: none;}
  #rad_sig01:checked ~ .sig_box .sig_sheet .sig_sheet01 {background-image: url(../images/original_back_m.jpg);
  }
  
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet01 {display: none;}
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet02 {display: block;}
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet03 {display: none;}
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet04 {display: none;}
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet05 {display: none;}
  #rad_sig02:checked ~ .sig_box .sig_sheet .sig_sheet02 {background-image: url(../images/pro_back_m.jpg);
}
  
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet01 {display: none;}
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet02 {display: none;}
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet03 {display: block;}
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet04 {display: none;}
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet05 {display: none;}
  #rad_sig03:checked ~ .sig_box .sig_sheet .sig_sheet03 {background-image: url(../images/feather_back_m.jpg);
}
  
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet01 {display: none;}
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet02 {display: none;}
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet03 {display: none;}
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet04 {display: block;}
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet05 {display: none;}
  #rad_sig04:checked ~ .sig_box .sig_sheet .sig_sheet04 {background-image: url(../images/air_back_m.jpg);
}
  
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet01 {display: none;}
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet02 {display: none;}
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet03 {display: none;}
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet04 {display: none;}
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet05 {display: block;}
  #rad_sig05:checked ~ .sig_box .sig_sheet .sig_sheet05 {background-image: url(../images/x-back_m.jpg);}
    


.sig_name {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  font-family: 'Do Hyeon', sans-serif;
}
.sig_label {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: flex;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}
.sig_label div {
  width: 20%;

}
.sig_sheet {
  width: 100%;
  /* height: 300px; */
  overflow-x: scroll;
}
.sig_sheet>div {
  width: 100%;
  height: 300px;
 
}
.sig_sheet>div img {
  width: 100%;
  height: 300px;
}
.sig_sheet .sig_sheet01 {
  width: 600px;
  height: 300px;
}
.sig_sheet .sig_sheet01>div {
  width: 150px;
  height: 200px;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.sig_sheet .sig_sheet01>div img {
  width: 100%;
  height: 200px;
}


.sig_sheet .sig_sheet02 {
  width: 600px;
  height: 300px;
  
}
.sig_sheet .sig_sheet02>div {
  width: 150px;
  height: 200px;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.sig_sheet .sig_sheet02>div img {
  width: 100%;
  height: 200px;
}



.sig_sheet .sig_sheet03 {
  width: 600px;
  height: 300px;
}
.sig_sheet .sig_sheet03>div {
  width: 150px;
  height: 200px;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.sig_sheet .sig_sheet03>div img {
  width: 100%;
  height: 200px;
}

.sig_sheet .sig_sheet04 {
  width: 600px;
  height: 300px;
}
.sig_sheet .sig_sheet04>div {
  width: 150px;
  height: 200px;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.sig_sheet .sig_sheet04>div img {
  width: 100%;
  height: 200px;
}

.sig_sheet .sig_sheet05 {
  width: 600px;
  height: 300px;
}
.sig_sheet .sig_sheet05>div {
  width: 150px;
  height: 200px;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 20px;
  float: left;
}
.sig_sheet .sig_sheet05>div img {
  width: 100%;
  height: 200px;
}

.footer {
  width: 100%;
  margin-top: 40px;
  background-color: #666;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.footer a {
  color: rgb(26, 24, 24);
}
.footer_logo {
  width: 150px;
  height: 40px;
}
.footer_logo a{
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.footer01 {
  width: 100%;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}
.footer>p:nth-child(3) {
  margin-top: 15px;
}
.footer01>p {
  width: 33.33333%;
  margin-bottom: 5px;
}
.footer>p {
  width: 100%;
  font-size: 10px;
  margin-bottom: 5px;
}
.company_label label {
  display: block;
  font-size: 13px;
}
#chk_company {display: none;}
#chk_company:checked ~ .company {display: block;}
#chk_company ~ .company {display: none;}

.footer02 {
  width: 100%;
  height: 100px;
  display: flex;
}
.footer02>div {
  width: 33.333333%;
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
  color: rgb(26, 24, 24);
}
.footer02>div>p:first-child {
  font-weight: bold;
}









